circle{
    stroke-width: 17px;
}
#Temperature-gauge .jjZFEi {
	text-align: top;
	font-size: 55px;
	

}
#Temperature-gauge .cRfgdB .scale{
	font-size: 25px;
	text-align: center;
}


#Temperature-gauge2 .jjZFEi {
	text-align: top;
	font-size: 55px;
	

}
#Temperature-gauge2 .cRfgdB .scale{
	font-size: 25px;
	text-align: center;
}


#Temperature-gauge4 .jjZFEi {
	text-align: top;
	font-size: 55px;
}

#Temperature-gauge4 .cRfgdB .scale{
	font-size: 25px;
	text-align: center;
}

#my-knob-1 .cRfgdB .scale{
	font-size: 60px;
	text-align: center;
}


#my-knob-1  .jjZFEi {
	text-align: top;
	font-size: 60px;
}